Django==4.2
djangorestframework
djangorestframework-simplejwt
django-jalali
django-jalali[drf]
django-admin-interface
django-filter
django-simple-history
drf-spectacular
djoser
pytest-django
python-decouple
psycopg2-binary
jdatetime
isort
ruff
Faker
Pillow
requests
bs4
cryptography
